<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HabitApp copy 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HabitApp copy 3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HabitApp-Antonio.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>HabitApp-Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HabitApp-Ivan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>HabitApp-Manu.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>HabitApp-Miguel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>HabitApp-Premium.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HabitApp-Standard.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HabitApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HabitAppCoreTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>HabitAppCoreUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>HabitAppPremiumTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>HabitAppPremiumUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>HabitAppStandardTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>HabitAppStandardUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3534E88E2F15F02400EB8423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3534E8BF2F15F68100EB8423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3534E8C82F15F68B00EB8423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3534E8D12F15F6A400EB8423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3549249B2EA9492500A3BFCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35DAFE6C2F15601D009FAACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35DAFE7B2F1560B4009FAACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35DAFE8A2F156110009FAACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35DAFE992F156219009FAACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35DAFEA62F156285009FAACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35DAFEB32F1562E4009FAACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35EC42D02F0D982800FA119B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35EC42D92F0D982A00FA119B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35EC43132F0D9CAA00FA119B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
